.basic-form {
	margin-left:auto;
	margin-right:auto;
    margin-top: 50px;
    max-width: 300px;
    opacity: 0.95;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.basic-form h1 {
    font-size: 25px;
    padding: 0px 0px 10px 0px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 10px -10px;
    color: #888;
}

.basic-form h2 {
    font-size: 18px;
    text-align: center;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 10px -10px;;
    color: #888;
}
.basic-form h1>span {
    display: block;
    font-size: 11px;
}
.basic-form label {
    display: block;
    margin: 0px;
}
.basic-form label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-form input[type="text"]{
	border: 1px solid #DADADA;
	color: #888;
	height: 30px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 70%;
	font-size: 12px;
	line-height:15px;
	box-shadow: inset 0px 1px 4px #ECECEC;
	-moz-box-shadow: inset 0px 1px 4px #ECECEC;
	-webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.basic-form .button {
	background: #E27575;
	border: none;
	padding: 10px 25px 10px 25px;
	color: #FFF;
	box-shadow: 1px 1px 5px #B6B6B6;
	border-radius: 3px;
	text-shadow: 1px 1px 1px #9E3F3F;
	cursor: pointer;
}

.basic-form .button:hover {
    background: #CF7A7A
}

label, li {
    display: block;
    padding: 5px;
    font-size: 1.3em;
    color: #e3f1fa;
}

.button-center{
    margin: 0 auto; 
    text-align: center;
}

